/* 这个css文件中我们要放就是css的初始化代码 */
html,body,ul,li,p,h1,h2,h3,h4,h5,h6,form,img {
	margin:0;
	padding:0
}
img {
	border: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
input {
	padding: 0;
}
body {
	font: normal normal 14px "微软雅黑";
	color: #333;
}
.fl	{
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix {
	zoom: 1;
}
h1,h2,h3,h4,h5,h6,b,strong {
	font-weight: normal;
}